# Data Analyst Bootcamp for Beginners: Python Section
[Source](https://www.youtube.com/watch?v=PSNXoAs2FtQ)

___
## Variables in Python

In [1]:
x = 22
print(x)

22

In [2]:
type(x)

int

In [3]:
y = 'Mint Chocolate Chip'
print(y)

Mint Chocolate Chip

In [4]:
type(y)

str

In [5]:
y = 'Chocolate'
print(y)

Chocolate

In [6]:
x,y,z = 'Chocolate','Vanilla','Rocky Road'
print(x)
print(y)
print(z)

Chocolate
Vanilla
Rocky Road

In [7]:
x = y = z = 'Root Beer Float'
print(x)
print(y)
print(z)

Root Beer Float
Root Beer Float
Root Beer Float

In [8]:
# list
ice_cream = ['Chocolate','Vanilla','Rocky Road']
x,y,z = ice_cream

print(x)
print(y)
print(z)

Chocolate
Vanilla
Rocky Road

In [9]:
# Camel Case

# Test Variable Case
testVariableCase = 'Vanilla Swirl'

In [10]:
# Pascal Case

# Test Variable Case
TestVariableCase = 'Vanilla Swirl'

In [11]:
# Snake Case

# Test Variable Case
test_variable_case = 'Vanilla Swirl'

In [12]:
testvar = 'Vanilla Swirl'
test_var = 'Vanilla Swirl'
_test_var = 'Vanilla Swirl'
testVar = 'Vanilla Swirl'
TestVar = 'Vanilla Swirl'
testVar2 = 'Vanilla Swirl'
# Cant use: 
# 2testVar = 'Vanilla Swirl'
# test-Var2 = 'Vanilla Swirl'
# test Var2 = 'Vanilla Swirl'
# test,Var2 = 'Vanilla Swirl'

In [13]:
x = 'Ice Cream is my favorite ' + testvar
print(x)

Ice Cream is my favorite Vanilla Swirl

In [14]:
y = 2 + 3
print(y)

5

In [15]:
x = 'Ice Cream'
y = ' is'
z = ' my favorite.'

print(x+y+z)

Ice Cream is my favorite.

In [16]:
x = 1
y = 2
z = 3

print(x+y+z)

6

In [17]:
x = 'Ice Cream'
y = 2

print(x,y)

Ice Cream 2

## Data Types

In [18]:
# integers
type(12)
type(-12)

int

In [19]:
# float
type(12 + 10.25)

float

In [20]:
# complex (imaginary numbers)
type(12 + 3j) # only j works as a placeholder for imaginary numbers

complex

In [21]:
# boolean
type(False)

bool

In [22]:
type(1 > 5)

bool

In [23]:
# strings
'Single Quote'

'Single Quote'

In [24]:
"Double Quote"

'Double Quote'

In [25]:
multiline = """ 
The ice cream vanquished
my longing for sweets,
upon this diet I look away,
it no longer exists on this day.
"""
print(multiline)

The ice cream vanquished
my longing for sweets,
upon this diet I look away,
it no longer exists on this day.

In [26]:
a = 'Hello World!'
print(a[:5])
print(a[6])
print(a[2:5])

Hello
W
llo

In [27]:
a*3

'Hello World!Hello World!Hello World!'

In [28]:
a + a

'Hello World!Hello World!'

In [29]:
# list
[1,2,3]

[1, 2, 3]

In [30]:
['Cookie Dough', 'Strawberry', 'Chocolate']

['Cookie Dough', 'Strawberry', 'Chocolate']

In [31]:
['Vanilla', 3, ['Scoops','Spoon'], True]

['Vanilla', 3, ['Scoops', 'Spoon'], True]

In [32]:
ice_cream = ['Cookie Dough', 'Strawberry', 'Chocolate']
ice_cream.append('Salted Caramel')
ice_cream

['Cookie Dough', 'Strawberry', 'Chocolate', 'Salted Caramel']

In [33]:
ice_cream[0] = 'Butter Pecan'
ice_cream

['Butter Pecan', 'Strawberry', 'Chocolate', 'Salted Caramel']

In [34]:
nest_list = ['Vanilla', 3, ['Scoops','Spoon'], True]
nest_list[2][1]

'Spoon'

In [35]:
# tuple
tuple_scoops = (1, 2, 3, 2, 1)
type(tuple_scoops)

tuple

In [36]:
tuple_scoops[0]

1

In [37]:
# cannot do below
# tuble_scoops.append(3)

In [38]:
# sets
daily_pints = {1, 2, 3}
type(daily_pints)

set

In [39]:
print(daily_pints)

{1, 2, 3}

In [40]:
daily_pints_log = {1, 2, 31, 2, 3, 4, 1, 2, 5, 6, 3, 2}
print(daily_pints_log) # will only show the unique values in this set

{1, 2, 3, 4, 5, 6, 31}

In [41]:
wifes_daily_pints_log = {1, 3, 5, 7, 3, 24, 5, 7, 3, 2, 0}
print(daily_pints_log | wifes_daily_pints_log) # this is only going to print the unique values in both sets

{0, 1, 2, 3, 4, 5, 6, 7, 24, 31}

In [42]:
print(daily_pints_log & wifes_daily_pints_log) # this is going to show which unique values are in both sets

{1, 2, 3, 5}

In [43]:
print(daily_pints_log - wifes_daily_pints_log) # this is going to show only the unique values that are not shared in both sets based on the first set

{4, 6, 31}

In [44]:
print(daily_pints_log ^ wifes_daily_pints_log) # this is showing the unique values in either one or the other

{0, 4, 6, 7, 24, 31}

In [45]:
# dictionaries
# key/value pair

dict_cream = {'name': 'Caroline Sanicola', 'weekly intake': 5, 'favorite ice creams': ['Cookie Dough', 'Chocolate']}
type(dict_cream)

dict

In [46]:
dict_cream.values()

dict_values(['Caroline Sanicola', 5, ['Cookie Dough', 'Chocolate']])

In [47]:
dict_cream.items()

dict_items([('name', 'Caroline Sanicola'), ('weekly intake', 5), ('favorite ice creams', ['Cookie Dough', 'Chocolate'])])

In [48]:
dict_cream.keys()

dict_keys(['name', 'weekly intake', 'favorite ice creams'])

In [49]:
dict_cream['name']

'Caroline Sanicola'

In [50]:
dict_cream['name'] = 'Chris Sanicola'
print(dict_cream)

{'name': 'Chris Sanicola', 'weekly intake': 5, 'favorite ice creams': ['Cookie Dough', 'Chocolate']}

In [51]:
dict_cream.update({'name': 'Chris Sanicola', 'weekly intake': 10, 'weight': 300}) # using the update doesnt actually delete from the dictionary but just adds to it

print(dict_cream)

{'name': 'Chris Sanicola', 'weekly intake': 10, 'favorite ice creams': ['Cookie Dough', 'Chocolate'], 'weight': 300}

In [52]:
# if you do want to delete:
del dict_cream['weight']

print(dict_cream)

{'name': 'Chris Sanicola', 'weekly intake': 10, 'favorite ice creams': ['Cookie Dough', 'Chocolate']}

## Comparison Operators

- '==' Equal
- '!=' Not equal
- '>' Greater than
- '<' Less than
- '>=' Greater than or equal to
- '<=' Less than or equal to

In [53]:
10 == 50

False

In [54]:
10 != 50

True

In [55]:
'Vanilla' == 'Vanilla'

True

In [56]:
x = 'Vanilla'
y = 'Chocolate'

x != y

True

In [57]:
10 <= 10

True

## Logical Operators

- and: Returns True if both statements are true
- or: Returns True if one of the statements is true
- not: Reverse the result, returns False if the result is True

In [58]:
(70 > 50) and (50 > 10)

True

In [59]:
(10 > 50) or (50 > 10)

True

In [60]:
('Vanilla' > 'Chocolate') and (50 > 10)

True

In [61]:
not(50 > 10)

False

## Membership Operators
- **in**: Returns True if a sequence with the specified value is present in the object
- **not in**: Returns True if a sequence with the specified value is not present in the object

In [62]:
ice_cream = 'I love Chocolate ice cream'

'love' in ice_cream

True

In [63]:
scoops = [1, 2, 3, 4, 5]
wanted_scoops = 8

wanted_scoops in scoops

False

## If - Elif - Else Statements

In [64]:
if 25 > 10:
    print('It worked!')

It worked!

In [65]:
if 25 < 10:
    print('It worked!')
else:
    print('It did not work...')

It did not work...

In [66]:
if 18 < 10:
    print('It worked!')
elif 18 < 20:
    print('elif worked!')
else:
    print('It did not work...')

elif worked!

In [67]:
# have the statement all in one line
print('It worked!') if 10>30 else print('It did not work...')

It did not work...

In [68]:
# nested if statements
if (25 < 10) or (1 < 3):
    print('It worked!')
    if 10 > 5:
        print('This nested if statement worked!')
elif 18 < 20:
    print('elif worked!')
else:
    print('It did not work...')

It worked!
This nested if statement worked!

## For Loops

In [69]:
integers = [1, 2, 3, 4, 5]

In [70]:
for number in integers:
    print(number)

1
2
3
4
5

In [71]:
for number in integers:
    print('yep!')

yep!
yep!
yep!
yep!
yep!

In [72]:
integers = [1, 2, 3, 4, 5]

for Jelly in integers:
    print(Jelly + Jelly)

2
4
6
8
10

In [73]:
ice_cream_dict = {'name': 'Caroline Sanicola', 'weekly intake': 5, 'favorite ice creams': ['MCC', 'Chocolate']}

In [74]:
for cream in ice_cream_dict.values():
    print(cream)

Caroline Sanicola
5
['MCC', 'Chocolate']

In [75]:
for key, value in ice_cream_dict.items():
    print(key, '->', value)

name -> Caroline Sanicola
weekly intake -> 5
favorite ice creams -> ['MCC', 'Chocolate']

In [76]:
# Nested For Loops
flavors = ['Vanilla', 'Chocolate', 'Cookie Dough']
toppings = ['Hot Fudge', 'Oreos', 'Marshmallows']

In [77]:
for one in flavors:
    for two in toppings:
        print(one, 'topped with', two)

Vanilla topped with Hot Fudge
Vanilla topped with Oreos
Vanilla topped with Marshmallows
Chocolate topped with Hot Fudge
Chocolate topped with Oreos
Chocolate topped with Marshmallows
Cookie Dough topped with Hot Fudge
Cookie Dough topped with Oreos
Cookie Dough topped with Marshmallows

## While Loops

Enter the while loop -> test condition  -> true -> while loop body
                                        -> false -> exit the while loop

In [78]:
number = 0

while number < 5:
    print(number)
    number = number + 1 # this is a counter that will add a number to 'number'

0
1
2
3
4

In [79]:
number = 0

while number < 5:
    print(number)
    if number == 6:
        break
    number = number + 1
else:
    print('No longer < 5')

0
1
2
3
4
No longer < 5

In [80]:
number = 0

while number < 5:
    number = number + 1
    if number == 3:
        continue
    print(number)
else:
    print('No longer < 5')

1
2
4
5
No longer < 5

## Functions

In [81]:
def first_func():
    print('We did it!')

In [82]:
first_func()

We did it!

In [83]:
def number_squared(number):
    print(number**2)

In [84]:
number_squared(56)

3136

In [85]:
args_tuple = (5, 6, 1, 2, 8)

def number_args(*number):
    print(number[0]*number[1])

In [86]:
number_args(*args_tuple)

30

In [87]:
def number_squared_cust(number, power):
    print(number**power)

In [88]:
number_squared_cust(power = 5,number = 3)

243

In [89]:
def number_kwarg(**number):
    print('My number is: ' + number['integer']+ '. My other number: '+ number['integer2'])

In [90]:
number_kwarg(integer = '2309', integer2= '349')

My number is: 2309. My other number: 349

## Converting Data Types

In [91]:
num_int = 7

type(num_int)

int

In [92]:
num_str = '7'

type(num_str)

str

In [93]:
num_str_conv = int(num_str)

type(num_str_conv)

int

In [94]:
num_sum = num_int + num_str_conv

print(num_sum)

14

In [95]:
list_type = [1, 2, 3]

type(list_type)

list

In [96]:
type(tuple(list_type))

tuple

In [97]:
list_type = [1, 2, 3, 3, 2, 1, 2, 3, 2, 1]

set(list_type)

{1, 2, 3}

In [98]:
dict_type = {'name': 'Caroline', 'age': 32, 'hair': 'brown'}

type(dict_type)

dict

In [99]:
dict_type.items()

dict_items([('name', 'Caroline'), ('age', 32), ('hair', 'brown')])

In [100]:
dict_type.values()

dict_values(['Caroline', 32, 'brown'])

In [101]:
dict_type.keys()

dict_keys(['name', 'age', 'hair'])

In [102]:
type(list(dict_type.keys()))

list

In [103]:
long_str = 'I like to party'

list(long_str)

['I', ' ', 'l', 'i', 'k', 'e', ' ', 't', 'o', ' ', 'p', 'a', 'r', 't', 'y']

# Project: BMI Calculator
BMI = (weight in pounds x 703) / (height in inches x height in inches)

**BMI Classification**:
- Under 18.5: Underweight (Minimal Risk)
- 18.5 - 24.9: Normal Weight (Minimal Risk)
- 25 - 29.9: Overweight (Increased)
- 30 - 34.9: Obese (High)
- 35 - 39.9: Severely Obese (Very High)
- 40 and over: Morbidly Obese (Extremely High)

In [17]:
name = input("Enter your name: ")
weight = int(input("Enter your weight in pounds: "))
height = int(input("Enter your height in inches: "))

BMI = (weight * 703) / (height * height)

print(BMI)

31.090010405827265

In [19]:
if BMI > 0:
    if (BMI < 18.5):
        print(name + ", you are Underweight")
    elif (BMI >= 18.5 and BMI <= 24.9):
        print(name + ", you are Normal Weight")
    elif (BMI >= 25 and BMI <= 29.9):
        print(name + ", you are Overweight")
    elif (BMI >= 30 and BMI <= 34.9):
        print(name + ", you are Obese")
    elif (BMI >= 35 and BMI <= 39.9):
        print(name + ", you are Severely Obese")
    elif (BMI > 40):
        print(name + ", you are Morbidly Obese")
    else:
        print("Enter valid inputs")

Caroline, you are Obese

# Project: Automatic File Sorter in File Explorer

In [20]:
import os, shutil

In [21]:
path = r"/Users/carolinesanicola/Downloads"

In [22]:
os.listdir(path)

['.DS_Store',
 'archive',
 'BariatricPatientTrac-LifetimeCases_DATA_LABELS_2025-07-10_0839.csv',
 '.localized',
 'SH MBSCR Attestation - SIGNED.pdf',
 'Sales.csv.zip',
 'archive.zip',
 'Sales.csv']