# Celestial Bodies Database
For this project, you need to log in to PostgreSQL with psql to create your database. Do that by entering `psql --username=freecodecamp --dbname=postgres` in the terminal. Make all the tests below pass to complete the project. Be sure to get creative, and have fun!

Don't forget to connect to your database after you create it ðŸ˜„

Here's some ideas for other column and table names: `description`, `has_life`, `is_spherical`, `age_in_millions_of_years`, `planet_types`, `galaxy_types`, `distance_from_earth`.

Notes:
If you leave your virtual machine, your database may not be saved. You can make a dump of it by entering `pg_dump -cC --inserts -U freecodecamp universe > universe.sql` in a bash terminal (not the psql one). It will save the commands to rebuild your database in `universe.sql`. The file will be located where the command was entered. If it's anything inside the `project` folder, the file will be saved in the VM. You can rebuild the database by entering `psql -U postgres < universe.sql` in a terminal where the `.sql` file is.

If you are saving your progress on freeCodeCamp.org, after getting all the tests to pass, follow the instructions above to save a dump of your database. Save the `universe.sql` file in a public repository and submit the URL to it on freeCodeCamp.org.

Complete the tasks below

You should create a database named `universe`

Be sure to connect to your database with `\c universe`. Then, you should add tables named `galaxy`, `star`, `planet`, and `moon`

Each table should have a primary key

Each primary key should automatically increment

Each table should have a `name` column

You should use the `INT` data type for at least two columns that are not a primary or foreign key

You should use the `NUMERIC` data type at least once

You should use the `TEXT` data type at least once

You should use the `BOOLEAN` data type on at least two columns

Each "star" should have a foreign key that references one of the rows in `galaxy`

Each "planet" should have a foreign key that references one of the rows in `star`

Each "moon" should have a foreign key that references one of the rows in `planet`

Your database should have at least five tables

Each table should have at least three rows

The `galaxy` and `star` tables should each have at least six rows

The `planet` table should have at least 12 rows

The `moon` table should have at least 20 rows

Each table should have at least three columns

The `galaxy`, `star`, `planet`, and `moon` tables should each have at least five columns

At least two columns per table should not accept `NULL` values

At least one column from each table should be required to be `UNIQUE`

All columns named name should be of type `VARCHAR`

Each primary key column should follow the naming convention `table_name_id`. For example, the `moon` table should have a primary key column named `moon_id`

Each foreign key column should have the same name as the column it is referencing

In [ ]:
CREATE DATABASE universe;

In [ ]:
CREATE TABLE galaxy (
    galaxy_id SERIAL PRIMARY KEY,
    name VARCHAR(50) NOT NULL UNIQUE,
    type VARCHAR(30) NOT NULL,
    diameter_lightyears NUMERIC(10,2),
    age_billion_years NUMERIC(5,2),
    has_supermassive_blackhole BOOLEAN DEFAULT TRUE
);

CREATE TABLE star (
    star_id SERIAL PRIMARY KEY,
    galaxy_id INTEGER REFERENCES galaxy(galaxy_id),
    name VARCHAR(50) NOT NULL UNIQUE,
    spectral_class CHAR(1) NOT NULL,
    temperature_kelvin INTEGER,
    mass_relative_to_sun NUMERIC(6,2)
);

CREATE TABLE planet (
    planet_id SERIAL PRIMARY KEY,
    star_id INTEGER REFERENCES star(star_id),
    name VARCHAR(50) NOT NULL UNIQUE,
    type VARCHAR(20) NOT NULL,
    has_life BOOLEAN DEFAULT FALSE,
    orbital_period_days NUMERIC(10,2),
    mean_surface_temp_celsius NUMERIC(10,2)
);

CREATE TABLE moon (
    moon_id SERIAL PRIMARY KEY,
    planet_id INTEGER REFERENCES planet(planet_id),
    name VARCHAR(50) NOT NULL UNIQUE,
    diameter_km INTEGER,
    has_atmosphere BOOLEAN DEFAULT FALSE,
    discovery_year INTEGER
);

CREATE TABLE species (
    species_id SERIAL PRIMARY KEY,
    planet_id INTEGER REFERENCES planet(planet_id),
    name VARCHAR(50) NOT NULL UNIQUE,
    intelligence_level VARCHAR(20),
    is_technological BOOLEAN DEFAULT FALSE,
    population_estimate BIGINT
);

In [ ]:
INSERT INTO galaxy (name, type, diameter_lightyears, age_billion_years) VALUES
('Milky Way', 'Spiral', 105700.00, 13.61),
('Andromeda', 'Spiral', 220000.00, 10.01),
('Triangulum', 'Spiral', 60000.00, 6.00),
('Messier 87', 'Elliptical', 240000.00, 12.93),
('Sombrero', 'Spiral', 50000.00, 13.25),
('Whirlpool', 'Spiral', 60000.00, 13.00);

In [ ]:
INSERT INTO star (galaxy_id, name, spectral_class, temperature_kelvin, mass_relative_to_sun) VALUES
(1, 'Sun', 'G', 5778, 1.00),
(1, 'Sirius', 'A', 9940, 2.06),
(1, 'Alpha Centauri A', 'G', 5790, 1.10),
(2, 'Alpheratz', 'B', 13800, 3.80),
(3, 'Mirach', 'M', 3800, 2.50),
(4, 'Virgo A', 'G', 5500, 1.20);

In [ ]:
INSERT INTO planet (star_id, name, type, has_life, orbital_period_days, mean_surface_temp_celsius) VALUES
(1, 'Mercury', 'Terrestrial', FALSE, 88.00, 167),
(1, 'Venus', 'Terrestrial', FALSE, 224.70, 464),
(1, 'Earth', 'Terrestrial', TRUE, 365.25, 15),
(1, 'Mars', 'Terrestrial', FALSE, 687.00, -63),
(1, 'Jupiter', 'Gas Giant', FALSE, 4333.00, -145),
(1, 'Saturn', 'Gas Giant', FALSE, 10759.00, -178),
(2, 'Sirius b', 'White Dwarf', FALSE, 50.00, 25000),
(3, 'Proxima Centauri b', 'Super Earth', TRUE, 11.19, -39),
(4, 'Alpheratz b', 'Gas Giant', FALSE, 300.00, -120),
(5, 'Mirach b', 'Ice Giant', FALSE, 500.00, -200),
(6, 'Virgo A b', 'Terrestrial', TRUE, 400.00, 22),
(6, 'Virgo A c', 'Gas Giant', FALSE, 1200.00, -150);

In [ ]:
INSERT INTO moon (planet_id, name, diameter_km, has_atmosphere, discovery_year) VALUES
(3, 'Moon', 3474, FALSE, NULL),
(4, 'Phobos', 22, FALSE, 1877),
(4, 'Deimos', 12, FALSE, 1877),
(5, 'Io', 3643, FALSE, 1610),
(5, 'Europa', 3121, TRUE, 1610),
(5, 'Ganymede', 5262, TRUE, 1610),
(5, 'Callisto', 4820, TRUE, 1610),
(6, 'Titan', 5149, TRUE, 1655),
(6, 'Rhea', 1527, FALSE, 1672),
(6, 'Iapetus', 1468, FALSE, 1671),
(6, 'Dione', 1123, FALSE, 1684),
(6, 'Tethys', 1062, FALSE, 1684),
(6, 'Enceladus', 504, TRUE, 1789),
(6, 'Mimas', 396, FALSE, 1789),
(7, 'Sirius b1', 1200, FALSE, 2020),
(8, 'Proxima b1', 800, FALSE, 2030),
(9, 'Alpheratz b1', 2000, FALSE, 2025),
(10, 'Mirach b1', 1500, FALSE, 2023),
(11, 'Virgo A b1', 1200, TRUE, 2028),
(12, 'Virgo A c1', 1800, FALSE, 2029);

In [ ]:
INSERT INTO species (planet_id, name, intelligence_level, is_technological, population_estimate) VALUES
(3, 'Humans', 'High', TRUE, 8000000000),
(8, 'Proximans', 'Medium', FALSE, 500000000),
(11, 'Virgonians', 'High', TRUE, 12000000000),
(3, 'Dolphins', 'Medium', FALSE, 10000000),
(4, 'Martian Microbes', 'None', FALSE, 1000000000000);